.container {
  display: flex;
}

.hamburger {
  position: fixed;
  top: 15px;
  left: 0px;
  font-size: 24px;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  z-index: 1001;
  padding: 8px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -220px;
  width: 220px;
  height: 100%;
  background-color: #fff;
  transition: left 0.3s ease;
  z-index: 1000;
  color: #000000;
  background: var(--background-paper-elevation-1, #FFF);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.20);
}

.sidebar.open {
  left: 0;
  z-index: 5000;
}

.logo {
  margin-bottom: 20px;
  font-size: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  font-size: large;
}

.category-header:hover {
  background-color: #e3ebf3;
}

.expand-btn {
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
}

.sub-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: center;
}

.sub-items li {
  padding: 16px 32px;
  width: 100%;
  box-sizing: border-box;
  text-align: start;
}

.sub-items li:hover {
  background-color: #e3ebf3;
}

/* Desktop */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .sidebar {
    left: 0;
    position: static;
  }

  .content {
    margin-left: 220px;
  }
}
