#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding-top: 69px;
  width: 100%;
  max-width: 1200px;
  align-content: center;
  align-self: center;
}
