#root {
  width: 100%;
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin-top: -69px; /* Altura do header */
  width: 100%;
  max-width: 1200px;
  align-content: center;
  align-self: center;
}
