#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  width: 100%;
  padding-top: 69px;
  align-content: start;
  align-self: center;
  display: flex;
}
