.login-container {
  max-width: 550px;
  margin: 2rem;
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  align-self: center;
  width: 100%;
}

.login-title {
  font-size: 1.5rem;
  font-weight: normal;
  color: #333;
  text-align: start;
  margin-bottom: 1rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.login-form input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #fff;
  color: rgb(0, 0, 0);
}

.login-form button {
  padding: 0.75rem;
  background: rgba(57, 101, 145, 1);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background: rgb(26, 52, 79);
}

.error {
  color: #d32f2f;
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}

a {
  text-align: center;
  font-size: 0.9rem;
  color: #0066cc;
  text-decoration: none;
  margin-top: 1rem;
}

a:hover {
  text-decoration: underline;
}
