.app-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-content {
  box-sizing: border-box;
  padding: 1rem;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1 1 auto;
  width: 100%;
}

/* Desktop */
@media (min-width: 768px) {
  .app-layout {
    display: flex;
    flex-direction: row;
  }
  .app-content {
    margin-left: 220px;
    width: auto;
  }
}
