.app-layout {
  display: block;
  height: calc(100% - 40px);
  margin-top: 40px;
}

.app-content {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

/* Desktop */
@media (min-width: 768px) {
  .app-layout {
    display: flex;
  }
  .app-content {
    margin-left: 220px;
    width: calc(100% - 220px);
  }
}
