.campos-container {
  display: flex;
  margin-bottom: 1rem;
  gap: 0.75rem;
  flex-direction: column;
  align-items: start;
}

.campo {
  flex: 1;
  border: 1px solid #ccc;
  background-color: white;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.botao-primario {
  padding: 0.75rem;
  background: rgba(57, 101, 145, 1);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  padding-inline: 1rem;
}

.botao-primario:hover {
  background: rgb(26, 52, 79);
}

.botao-danger {
  padding: 0.75rem;
  background: rgba(145, 57, 57, 1);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  padding-inline: 1rem;
}

.botao-danger:hover {
  background: rgb(79, 26, 26);
}

.h4 {
  margin: 0;
  font-size: 1rem;
  color: #333;
}