#root {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 69px;
}

main {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: auto;
  justify-content: center;
}
